.spinner-border{
    text-align: center;
}

.youtube:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: ease 0.5s all;
}

.youtube{
    transition: ease 0.5s all;
}
