.filter{
    text-align: center;
    margin: 0 auto;
}

.dropdown{
    display: inline-block;
    margin: 0.5rem
}

nav{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}