a {
  text-decoration: none;
}

body{
    background-image: url("./musicbackground.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Libre Baskerville', serif;    
}

a, a:hover{
  text-decoration: none;
}
